<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ b }}</title>
</head>
<body>
有时间绝望还不如吃吃睡睡
<br>
{{ a }}<br>{{ b }}<br>{{ c[0] }}<br>{{ d['se'] }}

{{ 'gakki' | upper }}
<br>
{{ 'KNOW' | lower }}
<br>
{#特有的链式调用#}
{{ 'asd548' | reverse | upper |reverse}}
<br>
列表的过滤器:<br>
{{ c | last }}<br>
长度: {{ c | length }}
排序: {{ c | sort }}
<br>
按html显示:
<br>
{{ b | safe }}
<br>
默认的html的字符串会按照原样显示, 可以使用safe进行表示该字符串是安全的.
标识之后就可以按照html样式显示并执行
<br>
<hr>
使用过滤器传参数.<br>
总价:{{ e | sum(attribute='price') }}
</body>
</html>